// userid: 51   name: Eien no Aselia (falu red)

// Eien no Aselia skin made using Minitokyo.Eien.no.Aselia.Scans_373967
// created: 09/27/2009 by echomateria

$maintext:     #ffffff
$grayedout:    #eee388
$standout:     #e96e73
$link:         #4a2b33
$statok:       #ffcbee
$statnok:      #e96e73
$footer:       #f4f1e6
$maintitle:    #fce5e5
$boxtitle:     #f4e1b5
$alttitle:     #ed9f92
$bodybg:       #8a3c35
$tabbg:        #ac7595
$secbg:        #8a3c35
$secborder:    #e86a76
$border:       #f1c0b2
$boxbg:        #ac759595
$diffadd:      #833d71
$diffdel:      #6c3a55
$warnbg:       #6b3b51
$warnborder:   #e37192
$noticebg:     #cc8487
$noticeborder: #975352

@mixin bodybg
  background-color: $bodybg

@mixin bgright
  background: url(/s/aselia_01-right.jpg) no-repeat
  width: 1200px
  height: 719px

@import 'css/v2'
