// userid: 1  name: Ever17 (bondi blue)

// Ever 17 skin made using the images from the extras section of the game
// created: 01/01/2009 by echomateria

$maintext:     #3c363f
$grayedout:    #785a5b
$standout:     #966932
$link:         #013f7a
$statok:       #9c4b00
$statnok:      #eb0e4c
$footer:       #e2cfa6
$maintitle:    #f0a260
$boxtitle:     #f0a260
$alttitle:     #ff9013
$bodybg:       #00879b
$tabbg:        #81d5ea
$secbg:        #bcd1e4
$secborder:    #00627e
$border:       #016c80
$boxbg:        #d1ebee77
$diffadd:      #f1a361
$diffdel:      #9a7071
$warnbg:       #c43f5c
$warnborder:   #951924
$noticebg:     #fefbf6
$noticeborder: #f1a360

@mixin bodybg
  background-color: $bodybg

@mixin bgright
  background: url(/s/ever17_01-right.jpg) no-repeat
  width: 800px
  height: 800px

@import 'css/v2'
