// userid: 51  name: Sora no Iro, Mizu no Iro (turquoise)

// A Sora no Iro, Mizu no Iro skin based on a wallpaper named My Perfect Day
// created: 23/01/2009 by echomateria

$maintext:     #fefefc
$grayedout:    #4b2427
$standout:     #ffaa88
$link:         #f4d926
$statok:       #f8a022
$statnok:      #4b2427
$footer:       #f6ffff
$maintitle:    #f6ffff
$boxtitle:     #943048
$alttitle:     #a93f56
$bodybg:       #4bb3ae
$tabbg:        #3c6d69
$secbg:        #48878c
$secborder:    #f4d926
$border:       #48878c
$boxbg:        #48878c92
$diffadd:      #b2f68f
$diffdel:      #5ed8e5
$warnbg:       #008278
$warnborder:   #fcfefd
$noticebg:     #5bdebe
$noticeborder: #a9fdc1

@mixin bodybg
  background-color: $bodybg

@mixin bgright
  background: url(/s/taka-right.jpg) no-repeat
  width: 1300px
  height: 975px

@import 'css/v2'
